* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background: #ffffff;
  flex-grow: 1;
}

form {
  max-width: 300px;
  margin: 100px auto 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(150%);
}

.room {
  position: relative;
}
.room button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.room .room-title {
  position: fixed;
  top: 10px;
  left: 10px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
  z-index: 10;
}

.local-participant .participant h3 {
  position: fixed;
  top: 40px;
  left: 10px;
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
  z-index: 10;
}
.local-participant .participant video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.remote-participants {
  position: fixed;
  top: 40px;
  right: 10px;
  width: 300px;
  z-index: 10;
}
.remote-participants .participant  {
  position: relative;
  margin-top: 10px;
  padding: 10px 10px 30px 10px;
  background: black;
}
.remote-participants .participant h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
.remote-participants .participant video {
  width: 100%;
}

